

title {
  font: 1.5em sans-serif;
}
#navbar-brand {
  font: 1.5em sans-serif;
}
/* Set a background image by replacing the URL below */
body {
  background: url("/Assests/Image/back2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.main-wrapper {
  height: 100vh;
}

.card-title {
  text-align: center;
}

.card  {
  max-width: 350px;
  min-width: 200px;
}


.card-video  {
  max-width: 700px;
  min-width: 500px;
  background-color: white;
  
}